<odoo>
    <data>

        <!-- Accion para Vista de Contenedores de Categorias -->
        <act_window id="action_ct_list_price_container_category_tree"
                    name="Contenedor de Listas de Precios"
                    res_model="ct.list.price.container.category"
                    view_mode="tree,form"
        />
        <!-- Accion para las Lista de Precios Configurada -->
        <act_window id="action_ct_list_price_container_category_report"
                    name="Lista de Precios Configurada"
                    res_model="ct.list.price.dialog.container.category"
                    target="new"
                    view_mode="form"
        />

        <!-- Accion para las Lista de Precios Pre-Venta -->
        <act_window id="action_ct_list_price_product_pre_sale_tree"
                    name="Productos en Pre-Venta"
                    res_model="ct.list.price.product.pre.sale"
                    view_mode="tree"
        />

        <!-- Menu para Vista de Contenedores de Categorias -->
        <menuitem id="ct_list_price_menu_container_category_tree"
                  name="Contenedor de Listas de Precio"
                  action="action_ct_list_price_container_category_tree"
                  parent="sale.menu_sale_report"
                  sequence="20"/>
        <!-- Menu para Vista de Lista de Precios Contenedores de Categorias -->
        <menuitem id="ct_list_price_menu_container_category_report"
                  name="Lista de Precios Configurada"
                  action="action_ct_list_price_container_category_report"
                  parent="sale.menu_sale_report"
                  sequence="21"/>
        <!-- Menu para Vista de Lista de Precios Contenedores de Categorias -->
        <menuitem id="ct_list_price_product_pre_sale_tree"
                  name="Productos en Pre-Venta"
                  action="action_ct_list_price_product_pre_sale_tree"
                  parent="sale.menu_sale_report"
                  sequence="25"/>
    </data>
</odoo>