<odoo>
    <data>




        <!-- Menu para las Acciones de Reportes -->
        <act_window id="action_ct_list_price_dialog"
            name="Generar Lista de Precios"
            target="new"
            res_model="ct.list.price.dialog.list.price"
            view_mode="form"
        />
        <!-- Menu para llamar al Dialogo de la Lista de Precios -->
        <menuitem id="ct_list_price_menu_items"
            name="Generar Lista/Precios (PDF)"
            action="action_ct_list_price_dialog"
            parent="sale.menu_sale_report"
            sequence="20"/>
    </data>
</odoo>